[Desktop Entry]
Name=Emelfm
Name[pl]=Emelfm
Comment=Two panel file manager
Comment[pl]=Dwupanelowy zarządca plików
Exec=emelfm
Terminal=false
Icon=emelfm
Type=Application
Categories=GTK;Utility;FileManager;
# vi: encoding=utf-8
